.user-score-title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 60%;
    height: 60%;
}

