@import "./styles/colors";

.app {
  text-align: center;
}

.app-container {
  min-height: calc(100vh + 12.1rem);
  background-color: $white;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spin infinite 1s linear;
  }
}

.app-content {
  color: $black;
  display: flex;
}

.app-content-container {
  width: 100%;
  min-height: calc(100vh + 12.1rem);
  display: flex;
  flex-direction: column;
}
.app-inside-content-container {
  width: 100%;
  min-height: calc(100vh + 12.1rem);
  display: flex;
}

.activity-container {
  position: relative;
  width: 60%;
  height: 350px;
}
.session-duration-container {
  position: relative;
  width: 30%;
  height: 250px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
