@import "./styles/colors";

.app {
  text-align: center;
}

.app-container {
  min-height: calc(100vh + 12.1rem);
  background-color: $white;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spin infinite 1s linear;
  }
}

.app-content {
  color: $black;
  display: flex;
  width: auto;
}

.app-content-container {
  width: 100%;
  display: grid;
  grid-template-columns: 117px auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "side-nav name name name"
    "side-nav activity activity infos"
    "side-nav inside-content inside-content infos";
}
.app-inside-content-layout {
  display: flex;
  width: 100%;
  grid-area: inside-content;
  padding: 0 0 0 10.7rem;
}
.app-inside-content-container {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 86px;
}

.activity-container {
  position: relative;
  height: 350px;
  grid-area: activity;
  background-color: #00000005;
  border-radius: 6px;
}
.session-duration-container,
.user-perfs-container,
.score-avg-container {
  flex: 1;
  position: relative;
  height: 263px;
  max-width: 256px;
}

.score-avg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-cardinfos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 39px;
  grid-area: infos;
  margin-right: 90px;
  padding-bottom: 86px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
