@import "./styles/colors";

.app {
  text-align: center;
}

.app-container {
  min-height: calc(100vh + 12.1rem);
  background-color: $white;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spin infinite 1s linear;
  }
}

.app-content {
  color: $black;
  display: flex;
}

.app-content-container {
  width: 100%;
  padding: 6.8rem 10.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "name name name"
    "activity activity infos"
    "inside-content inside-content infos";
}
.app-inside-content-layout {
  display: flex;
  width: 100%;
  grid-area: inside-content;
}
.app-inside-content-container {
  width: 100%;
  display: flex;
  gap: 30px;
}

.activity-container {
  position: relative;
  height: 350px;
  grid-area: activity;
}
.session-duration-container,
.user-perfs-container,
.score-avg-container {
  flex: 1;
  position: relative;
  height: 263px;
  padding: 5px;
  max-width: 256px;
}

.score-avg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-cardinfos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 50px;
  grid-area: infos;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
