.session-duration-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    text-align: left;
    color: #fff;
    opacity: 0.8;
    max-width: 150px;
}

.session-duration-container {
    .recharts-text.recharts-cartesian-axis-tick-value {
        fill: #fff !important;
    }
}
