.session-duration-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    text-align: left;
    color: #fff;
    opacity: 0.8;
    max-width: 150px;
}

.session-duration-container {
    .recharts-text.recharts-cartesian-axis-tick-value {
        fill: #fff !important;
    }
}

.custom-linechart .custom-after-child {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 0 10px 10px 0;
}
